.category-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    padding-top: 20px;
    width: 100%;
    display: flex;
    min-height: calc(48vh + 3px);
    border-top: 4px double #54c143;
    border-bottom: 4px double #54c143;
    animation: appear 1s 1;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
}

.partners-wrapper {
    display: flex;
    gap: 100px;
}

.partners-wrapper>img {
    width: 150px;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;
}


@media screen and (max-width: 580px) {

    .category-container {
        width: 100%;
        margin-bottom: 0px !important;
    }

    .description-wrapper {
        width: 80% !important;
    }

    .partners-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}