.card {
    text-decoration: none;
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    border-radius: 12px;
    overflow: hidden;
    background: rgb(182, 192, 191);
    background: linear-gradient(260deg,
            rgba(182, 192, 191, 1) 0%,
            rgba(84, 193, 67, 1) 100%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}


.card-heading {
    margin: 16px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}