.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 4px double #54c143;
  border-bottom: 4px double #54c143;
  padding: 2vw;
  min-height: 600px;
}

.checkout-form {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  color: black;
  text-align: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  gap: 1rem;
}

.order-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-top: 1rem;
}

.back-button {
  background-color: white;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #54c143;
  color: #54c143;
}

.back-button:hover {
  background-color: #54c143;
  color: white;
}

.order-button {
  background-color: #54c143;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order-button:hover {
  background-color: #429a32;
}

.input-info {
  border-radius: 10px;
  border: 1px solid black;
  background-color: #def8da;
  padding: 0.5rem;
}

.input-wrapper label {
  color: black;
  margin: 0;
}

.total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #d9d9d9;
}

.toast-error {
  border: 2px solid red;
  background-color: white !important;
  color: red !important;
}

.hidden-wrapper {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 1200px) {

  .checkout-form {
    width: 60%;
  }

  .input-wrapper {
    width: 100%;
  }

  .order-button-wrapper {
    width: 60%;
  }
}

@media screen and (max-width: 992px) {
  .checkout-form {
    width: 60%;
  }

  .input-wrapper {
    width: 100%;
  }

  .order-button-wrapper {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .checkout-form {
    width: 60%;
  }

  .input-wrapper {
    width: 100%;
  }

  .order-button-wrapper {
    width: 60%;
  }

  .order-button-wrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .checkout-form {
    width: 90%;
    margin: 10px;
  }

  .input-wrapper {
    width: 100%;
  }

  .order-button-wrapper {
    width: 90%;
  }

  .input-wrapper {
    padding: 1rem;
  }

  .order-button-wrapper {
    flex-direction: column;
    gap: 0.5rem;
  }

  .order-button,
  .back-button {
    width: 100%;
    text-align: center;
  }
}