.checkout-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;
    padding: 20px;
    gap: 20px
}

.title{
    margin: 0;
}

.input-wrapper{
    width: 30%;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}