.about-us-container {
  width: 100%;
  display: flex;
  min-height: 50vh;
  margin-bottom: 35px;
}

.about-us-description-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-us-img-wrapper {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.about-us-img-wrapper > img {
  width: 500px;
  height: auto;
  border-radius: 10px;
}

.about-us-description-wrapper > p {
  text-align: left;
  margin-left: 20%;
  font-size: 18px;
  background-color: white;
  padding: 30px;
}

@media screen and (max-width: 1100px) {
  .about-us-container {
    flex-direction: column;
  }

  .about-us-description-wrapper {
    width: 100%;
  }

  .about-us-img-wrapper {
    width: 100%;
  }

  .about-us-description-wrapper > p {
    margin-left: 50px;
  }
}

@media screen and (max-width: 650px) {
  .about-us-description-wrapper > p {
    margin-left: 20px;
  }

  .about-us-img-wrapper > img {
    width: 80%;
    height: auto;
  }
}
