.carousel-container {
    width: 100%;
    height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.inactive {
    display: none;
}

.carousel-container img {
    height: 72vh;
    width: 100vw;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 10px;
    animation: parallax 10s infinite ease-in-out;
}


.carousel-container img.active {
    opacity: 1;
    z-index: 1;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    color: white;
    font-size: 70px;
    user-select: none;
    z-index: 2;
    animation: appear 1s 1;
}

.carousel-arrow-left,
.carousel-arrow-right {
    position: absolute;
    scale: 2;
    color: #54C143;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    /* Ensure arrows appear on top */
}

.carousel-arrow-left {
    left: 50px;
}

.carousel-arrow-right {
    right: 50px;
}

.carousel-arrow-left:hover,
.carousel-arrow-right:hover {
    opacity: 0.7;
}

.carousel-heading {
    font-weight: 700;
    text-align: center !important;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    animation: disapear 8s 1;
}

.carousel-button {
    margin-top: 30px !important;
    background-color: #54C143 !important;
    animation: disapear 8s 1;
}

.more-info-text {
    position: absolute;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-info-text>p {
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: 600;
    animation: disapear 15s 1;
}

@media screen and (max-width: 800px) {
    .carousel-item {
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
    .carousel-arrow-right {
        right: 10px;
    }

    .carousel-arrow-left {
        left: 10px;
    }

    .carousel-item {
        font-size: 30px;
    }

    .carousel-heading {
        padding-left: 50px;
        padding-right: 50px;
    }

    .carousel-container img {
        border-radius: 15px !important;
        padding-right: 0px !important;
    }

    .more-info-text>p {
        font-size: 18px;
    }

}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }


}

@keyframes disapear {
    0% {
        opacity: 1;
    }


    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes videoEffect {
    0% {
        transform: scale(1);
        filter: hue-rotate(0deg) blur(0px);
        opacity: 1;
    }

    15% {
        transform: scale(1.15);
        filter: hue-rotate(45deg) blur(1px);
        opacity: 0.9;
    }

    30% {
        transform: scale(1.25);
        filter: hue-rotate(90deg) blur(2px);
        opacity: 0.8;
    }

    50% {
        transform: scale(1);
        filter: hue-rotate(180deg) blur(0px);
        opacity: 1;
    }

    65% {
        transform: scale(1.15);
        filter: hue-rotate(225deg) blur(1px);
        opacity: 0.9;
    }

    80% {
        transform: scale(1.25);
        filter: hue-rotate(270deg) blur(2px);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        filter: hue-rotate(360deg) blur(0px);
        opacity: 1;
    }
}

@keyframes parallax {
    0% {
        scale: 1;
        opacity: 0;
    }

    50% {
        scale: 1.2;
        opacity: 1;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}