.admin-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 4px double #54c143;
  border-bottom: 4px double #54c143;
  padding: 0 15px;
  min-width: 1288px;
  min-height: 505px;
  
}

.login-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-input-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}