.header-container {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(225, 225, 225);
    font-weight: 600;
    position: relative;
}

.header-wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moto {
    color: #54C143;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    white-space: nowrap;
}

.address-wrapper {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: flex-end;
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.icon {
    cursor: pointer;
    color: #54C143 !important;
    transition: all 0.3s !important;
}

.icon:hover {
    scale: 1.5;
}

.map-container {
    position: absolute;
    top: 40%;
    left: 38%;
    width: 500px;
    height: 500px;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    z-index: 4;
    border: 2px solid #006400;
}

.close-map {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 0px;
    right: 0;
    z-index: 5;
    background-color: white;
    cursor: pointer;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.close-map:hover {
    opacity: 0.7;
}


@media screen and (max-width: 1000px) {
    .header-container {
        margin-top: 100px;
        align-items: center !important;
    }

    .map-container {
        width: 300px !important;
        height: 300px !important;
        left: 50px !important;
    }

    .address-wrapper>p {
        display: none;
    }
}


@media screen and (max-width: 600px) {
    .address-wrapper>.icon {
        position: absolute;
        left: 8%;
    }

    .moto {
        width: 100%;
        padding-left: 10%;
    }
}