.header-container {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(225, 225, 225);
    color: rgb(112, 112, 112);
}

.header-wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moto {
    color: #54C143;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    white-space: nowrap;
}

.address-wrapper {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: flex-end;
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.icon {
    cursor: pointer;
    color: #54C143 !important;
    transition: all 0.3s !important;
}

.icon:hover {
    scale: 1.5;
}

@media screen and (max-width: 1000px) {
    .header-container {
        margin-top: 100px;
        align-items: center !important;
    }

    .address-wrapper>p {
        display: none;
    }
}