.what-we-do-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appear 1s 1;
    margin-bottom: 20px;
}

.what-we-do-wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.what-we-do-heading {
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: #54C143;
}

.heading-border {
    width: 200px;
    height: 30px;
}

.what-we-do-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-top: 30px;
}

.what-we-do-card {
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border: 2px solid #54C143;
    border-radius: 50%;
    background-color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.what-we-do-card::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(84, 193, 67, 0.6);
    transform: rotate(45deg) translate(-100%, 0);
    transition: all 0.8s ease-in-out;
}

.what-we-do-card:hover::before {
    transform: rotate(45deg) translate(100%, 0);
}

.what-we-do-card:hover {
    transform: scale(1.05);
}

.what-we-do-card>h3 {
    width: 100%;
    padding-bottom: 5px;
    color: #707070;
}

.what-we-do-card h3,
p {
    padding-top: 10px;
    text-align: center;
}

@media screen and (max-width: 1400px) {
    .what-we-do-container {
        height: fit-content !important;
    }

    .what-we-do-wrapper {
        width: 100%;
    }
}