.web-shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 4px double #54c143;
  border-bottom: 4px double #54c143;
  padding: 0 15px;
  min-height: 600px;
  justify-content: center;
}

.item-card-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 30px;
  min-height: 500px;
  justify-content: center;
}

.shop-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  padding: 20px;
  top: 0
}

.filter-cart-icon-wrapper {
  display: flex;
  gap: 30px;
}

.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-wrapper {
  position: relative;
  width: 500px;
}

.search-wrapper input {
  width: 100%;
  padding: 8px 40px 8px 8px;
  border: 1px solid #54c143;
  border-radius: 20px;
  background-color: #dbddde;
  
}


.search-icon-container {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort-container select {
  display: flex;
  align-items: center;
  width: 190px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #54c143;
  background-color: #dbddde;
  text-align: center;
}

@media screen and (max-width: 1200px) {

  .item-card-wrapper {
    grid-template-columns: repeat(4, 1fr);
    
  }

  .shop-header-container {
    width: 900px;
  }
}

@media screen and (max-width: 992px) {
  .item-card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .shop-header-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .search-wrapper {
    width: 200px;
  }

  .filter-cart-icon-wrapper {
    justify-content: space-between;
    gap: 20px;
  }
  .filter-cart-icon-wrapper {
    justify-content: space-between;
  }

  .sort-container select {
    width: 200px;
  }
  .filter-cart-icon-wrapper {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .item-card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 20px;
  }

  .search-container {
    width: 200px;
    margin-bottom: 15px;
  }

  .filter-cart-icon-wrapper,
  .sort-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filter-cart-icon-wrapper {
    justify-content: space-between;
  }

  .sort-container select {
    width: 200px;
  }
  .filter-cart-icon-wrapper {
    width: 200px;
  }
}

@media screen and (max-width: 480px) {
  .item-card-wrapper {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
  }

  .shop-header-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .search-wrapper {
    width: 200px;
  }

  .filter-cart-icon-wrapper {
    flex-direction: row;
    gap: 15px;
  }

  .sort-container {
    flex-direction: row;
    gap: 15px;
  }

  .filter-cart-icon-wrapper,
  .sort-container {
    justify-content: center;
  }
  .filter-cart-icon-wrapper {
    justify-content: space-between;
  }

  .sort-container select {
    width: 200px;
  }
  .filter-cart-icon-wrapper {
    width: 200px;
  }
}
